/* App.css */

body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.card.dark-mode {
  background-color: #1f1f1f;
  border: none;
}

.navbar.dark-mode,
.table.dark-mode,
.form-control.dark-mode,
.select.dark-mode {
  background-color: #1f1f1f;
  color: #e0e0e0;
}
